<%- include('partials/_header') -%>


    <body>

        <!-- Navigation -->
        <%- include('partials/_navigator') -%>

            <!-- Page Header -->
            <header class="masthead" style="background-image: url('img/contact-bg.jpg')">
                <div class="overlay"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-md-10 mx-auto">
                            <div class="page-heading">
                                <h1>Add New Blog</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </header>

            <!-- Main Content -->
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-10 mx-auto">
                        <form novalidate method="POST" action="add_blog">
                            <div class="control-group">
                                <div class="form-group floating-label-form-group controls">
                                    <label>Blog Title</label>
                                    <input type="text" class="form-control" placeholder="Blog Title" name="title"
                                        required data-validation-required-message="Please enter the Post Title.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="form-group floating-label-form-group controls">
                                    <label>Blog Detail</label>
                                    <textarea rows="5" class="form-control" placeholder="Blog Description"
                                        name="description" required
                                        data-validation-required-message="Please enter the blog."></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <br>
                            <div id="success"></div>
                            <button type="submit" name="submit" class="btn btn-primary"
                                id="sendBlogButton">Send</button>
                        </form>
                    </div>
                </div>
            </div>

            <hr>

            <!-- Footer -->
            <%- include('partials/_footer') -%>
    </body>

    </html>